@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


.primary-color {
  color: #7E1CFE;
}

.primary-button {
  background: #7E1CFE;
  color: white;
  padding: 12px 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.15);
  border: none;
  font-size: 18px;
}

.secondary-button {
  background: inherit;
  padding: 12px 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #7E1CFE;
  font-size: 18px;
}

.form-body input {
  border: none;
  background: inherit;
  width: 130px;
  padding-bottom: 21px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #7E1CFE;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.hero-section, .contact-section {
  padding: 0px 0px 0px 100px;
  background: rgba(126, 28, 254, 0.05);
}

.rethink-avatar {
  width: 45%;
}

.header-maininfo {
  font-size: 40px;
}

.header-subinfo {
  font-size: 20px;
}


/* PAGE CONTENT  */

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  height: 415px;
  width: 60%;
  margin: 80px 0px;
}

.main-content {
  padding: 0px 100px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card-body {
  max-width: 361px;
  height: 386px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card-header {
  font-size: 20px;
}

.card-section2 {
  width: 67%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-content {
  padding: 10px 50px;
}

.offers-section, .offers-form {
  padding-top: 70px;
  margin: auto;
  width: 62%;
}

.offers-header {
  font-size: 28px;
}

.offer-text {
  font-size: 15px;
}

.offer-name {
  padding-block: 16px;
  position: relative;
}

.offer-name::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #754DE8;
  width: 80px;
  margin-bottom: 12px;
}

.form-inputs ::placeholder {
  border-bottom: none;
}

.offers-form .secondary-button {
  border: 1px solid #754DE8;
  width: fit-content;
}


.contact-section {
  margin-top: 100px;
  padding: 60px 100px;
}

.contact-textbox p, .social-links p {
  font-size: 24px;
}

.footer-section {
  display: flex;
  background: black;
  padding: 10px 0px;
}


/* MEDIA QUERIES */

@media (max-width:1025px) {
  .form-body input {
    width: 100px;
    padding-bottom: 18px;
  }

  .form-body p {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .primary-button {
    padding: 8px 50px;
    font-size: 14px;
  }
  
  .secondary-button {
    padding: 8px 50px;
    font-size: 14px;
  }

  .header-maininfo {
    font-size: 36px;
  }
  
  .header-subinfo {
    font-size: 18px;
  }

  .main-content {
    padding: 0px 10px;
  }

  .card-body {
    max-width: 300px;
    height: 370px;
    border-radius: 20px;
    margin: 0px 0px 30px 0px;
  }

  .card-header {
    font-size: 14px;
  }

  .offers-section, .offers-form {
    width: 80%;
  }

  .contact-section {
    margin-top: 100px;
    padding: 60px 40px;
  }
  
  .contact-textbox p, .social-links p {
    font-size: 18px;
  }
  
}

/* FOR TABLET SCREEN */


@media (max-width: 769px) {
  .hero-section, .contact-section {
    padding: 0 0 20px 80px;
  }

  .form-body input {
    width: 100px;
    padding-bottom: 18px;
  }

  .form-body p {
    font-size: 16px;
  }

  ::placeholder {
    font-size: 12px;
  }

  .primary-button {
    padding: 8px 50px;
    font-size: 14px;
  }
  
  .secondary-button {
    padding: 8px 50px;
    font-size: 14px;
  }

  .header-maininfo {
    font-size: 36px;
  }
  
  .header-subinfo {
    font-size: 18px;
  }

  .rethink-avatar {
    display: none;
  }

  .main-content {
    padding: 0px 40px;
  }

  .card-section, .card-section2 {
    display: flex;
    flex-direction: column;
  }

  .card-body {
    max-width: 290px;
    height: 360px;
    border-radius: 20px;
  }

  .card-header {
    font-size: 18px;
  }

  .offer:nth-child(3) {
    padding-top: 24px;
  }

  .contact-section {
    margin-top: 100px;
    padding: 60px 40px;
  }
  
  .contact-textbox p, .social-links p {
    font-size: 16px;
  }
  
}

/* FOR MOBILE SCREENS */

@media (max-width: 426px) {

  .hero-section, .contact-section {
    padding: 0 0 20px 20px;
  }

  .form-body input {
    width: 70px;
    padding-bottom: 30px;
  }

  .hero-input::placeholder {
    font-size: 10px;
  }

  .form-body p {
    font-size: 12px;
    padding-top: 7px;
  }

  .primary-button {
    padding: 6px 40px;
    font-size: 10px;
  }
  
  .secondary-button {
    padding: 6px 40px;
    font-size: 10px;
  }

  video {
    height: 200px;
    width: 100%;
  }

  .header-maininfo {
    font-size: 32px;
  }
  
  .header-subinfo {
    font-size: 16px;
  }

  .main-content {
    padding: 0px 40px;
  }

  .card-section, .card-section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    max-width: 290px;
    height: 360px;
    border-radius: 20px;
  }

  .card-header {
    font-size: 18px;
  }

  .offers-header, .offer-name {
    font-size: 16px;
  }

  .offer-name {
    padding-block: 5px;
  }

  .offers-section p, .offer-text {
    font-size: 14px;
  }

  .offer-name::before {
    margin-bottom: 0px;
  }

  .contact-section {
    margin-top: 100px;
    padding: 60px 40px;
  }
  
  .contact-textbox p, .social-links p {
    font-size: 16px;
  }

  .first-column p, .second-column p {
    font-size: 14px;
    margin-left: 0!important;
  }

  .contact-textbox {
    display: flex;
    flex-direction: column;
  }

  .social-media-icons {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }

  .social-media-icons a {
    padding: 8px;
  }

  .footer-section {
    padding: 4px;
  }
  
  .footer p {
    font-size: 10px;
  }
}

/* SMALLER MOBILE SCREEN */

@media (max-width: 376px) {
  .hero-input {
    width: 50px;
  }

  .hero-input::placeholder {
    font-size: 9px;
  }

  .form-body p {
    font-size: 9px;
    padding-top: 7px;
  }

  .primary-button {
    padding: 6px 20px;
    font-size: 12px;
  }
  
  .secondary-button {
    padding: 6px 20px;
    font-size: 12px;
  }

  .card-icons {
    width: 40px;
    height: 90px;
  }

  .card-body {
    height: 340px;
  }

  .card-body p {
    font-size: 14px;
  }

  .form-inputs .secondary-button {
    width: 90%;
    padding: 6px;
  }
}

@media (max-width: 321px) {
  .hero-input {
    width: 50px;
  }

  .hero-input::placeholder {
    font-size: 7px;
  }

  .form-body p {
    font-size: 7px;
    padding-top: 10px;
  }

  .primary-button {
    padding: 6px 18px;
    font-size: 10px;
  }
  
  .secondary-button {
    padding: 6px 18px;
    font-size: 10px;
  }

.offers-section, .offers-form {
  width: 100%;
}

.logo img:nth-child(2) {
  width: 100px;
}
}